<% @quotes.each do |quote| %>
	<div class="quoteBlock">
		<p>Quote <%= link_to quote.id, quote %> submitted by: <%= quote.author %></p>
		<span><%= simple_format(quote.content, :class => 'quote') %></span>
		<p>Submitted <%= quote.created_at.utc.strftime("%F %T UTC") %>, 0 votes (0 up, 0 down)</p>
	</div>
<% end %>